{% extends 'base.html' %}

{% block content %}
    <div style="height: 20rem; background-color: #38df81; border-radius: 1rem; margin: 2rem; ">
        <h1>
            testing
        </h1>
        <form action="/account/hello_world" method="post">
            <!--  bootstrap 에 들어있는 button class-->
            <!-- 항상 적어줘야함 -->
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="POST">
        </form>
        <h1>
<!-- POST 로  데이터가 들어오면       -->
            {{ text }}
        </h1>
    </div>
{% endblock %}